<generationSettings>
	<connectionString>Server=localhost;Initial Catalog=Groceries;Integrated Security=true;</connectionString>
	<namespace>Groceries.Data</namespace>
	<classPrefix>
	</classPrefix>
	<classSuffix>
	</classSuffix>
	<omitClassPrefixes>
		<Prefix>TBL_</Prefix>
	</omitClassPrefixes>
	<omitClassSuffixes>
		<Suffix />
	</omitClassSuffixes>
	<excludeTablesWithPrefixes>
		<Prefix />
	</excludeTablesWithPrefixes>
	<excludeTablesWithSuffixes>
		<Suffix />
	</excludeTablesWithSuffixes>
	<includeViews>true</includeViews>
	<useLoggingFields>true</useLoggingFields>
	<createdOn>CreatedOn</createdOn>
	<createdBy>CreatedBy</createdBy>
	<modifiedOn>ModifiedOn</modifiedOn>
	<modifiedBy>ModifiedBy</modifiedBy>
	<identityPropertyType>string</identityPropertyType>
	<useLogicalDelete>true</useLogicalDelete>
	<isDeleted>IsDeleted</isDeleted>
	<catelProject>false</catelProject>
	<useUTCDates>true</useUTCDates>
	<singularizeTables>false</singularizeTables>
	<multilingualismSupport Enabled="false">
		<culturePropertyType>string</culturePropertyType>
		<translationTable>Translation</translationTable>
		<cultureTable>
			Culture
		</cultureTable>
		<namespace>dbo</namespace>
		<descriptionSuffix>Descr</descriptionSuffix>
	</multilingualismSupport >
	<generateEnumForTables >
	</generateEnumForTables>
</generationSettings>
